{{ $font_size := promptString "font size (15.0 for mac)" -}}
{{ $full_name := promptString "full name" -}}
{{ $email := promptString "email" -}}
{{ $todoist_token := promptString "todoist token" -}}

[data]
    email_address = {{ $email | quote }}
    enabled = [
        "javascript",
        # "minizinc",
        # "python",
        # "ruby",
        # "rust",
        # "todoist",
    ]
    font_family = "SpaceMono Nerd Font"
    font_size = {{ $font_size | quote }}
    full_name = {{ $full_name | quote }}

    # TODO: consider https://www.chezmoi.io/user-guide/password-managers/
    todoist_token = {{ $todoist_token | quote }}

[diff]
    # setting PAGER or GIT_PAGER doesn't do it
    pager = "delta"

[merge]
    command = "nvim"
    args = ["-d", "{{ .Destination }}", "{{ .Source }}", "{{ .Target }}"]
