[submodule "dircolors-solarized"]
	path = dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "gruvbox-contrib"]
	path = gruvbox-contrib
	url = git@github.com:morhetz/gruvbox-contrib.git
[submodule "home/.tmux/plugins/tpm"]
	path = home/.tmux/plugins/tpm
	url = git://github.com/tmux-plugins/tpm
