[submodule "dircolors-solarized"]
	path = dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "home/.oh-my-zsh"]
	path = home/.oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "home/.gvm"]
	path = home/.gvm
	url = https://github.com/moovweb/gvm.git
# janus
[submodule "home/.vim"]
	path = home/.vim
	url = https://github.com/carlhuda/janus.git
[submodule "home/.janus/xmledit"]
	path = home/.janus/xmledit
	url = https://github.com/sukima/xmledit.git
# rbenv
[submodule "home/.rbenv"]
	path = home/.rbenv
	url = https://github.com/sstephenson/rbenv.git
[submodule "rbenv-plugins/ruby-build"]
	path = rbenv-plugins/ruby-build
	url = https://github.com/sstephenson/ruby-build.git
