#!/usr/bin/env bash

set -Eeuxo pipefail

{{ if eq .chezmoi.os "darwin" -}}
if ! [ -x "$(command -v brew)" ]
then
    sudo chown "$(whoami)":admin \
        /usr/local/share/zsh \
        /usr/local/share/zsh/site-functions

    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

brew install \
    broot \
    direnv \
    fzf \
    git-delta \
    lsd \
    neovim \
    zoxide

broot --install

{{ else }}
yay --sync --needed \
    git-delta \
    lsd \
    neovim \
    zoxide

{{ end -}}

sh -c "$(curl -fsSL https://git.io/zinit-install)"
