# https://wiki.archlinux.org/title/Xprofile
#
# NOTE: xcompmgr overlaps with picom, so I'm disabling for now
# https://wiki.archlinux.org/title/Xcompmgr#Configuration
# https://support.zoom.us/hc/en-us/articles/202082128-Black-Screen-During-Screen-Sharing#collapseLinux
# xcompmgr -c -l0 -t0 -r0 -o.00 &
