---
font:
  normal:
    family: {{ .font_family }}
    style: Regular
  bold:
    family: {{ .font_family }}
    style: Bold
  italic:
    family: {{ .font_family }}
    style: Italic
  bold_italic:
    family: {{ .font_family }}
    style: Bold Italic
  size: {{ .font_size }}

import:
  # colors
  # - ~/.config/alacritty/colors/catppuccin-mocha.yml
  # - ~/.config/alacritty/colors/catppuccin-macchiato.yml
  - ~/.config/alacritty/colors/catppuccin-frappe.yml
  # - ~/.config/alacritty/colors/catppuccin-latte.yml

{{- if (eq .chezmoi.os "darwin") }}

key_bindings:
  # (Windows, Linux, and BSD only)
  #- { key: V,              mods: Control|Shift, mode: ~Vi,        action: Paste            }
  #- { key: C,              mods: Control|Shift,                   action: Copy             }
  #- { key: F,              mods: Control|Shift, mode: ~Search,    action: SearchForward    }
  #- { key: B,              mods: Control|Shift, mode: ~Search,    action: SearchBackward   }
  #- { key: C,              mods: Control|Shift, mode: Vi|~Search, action: ClearSelection   }
  #- { key: Insert,         mods: Shift,                           action: PasteSelection   }
  #- { key: Key0,           mods: Control,                         action: ResetFontSize    }
  #- { key: Equals,         mods: Control,                         action: IncreaseFontSize }
  #- { key: Plus,           mods: Control,                         action: IncreaseFontSize }
  #- { key: NumpadAdd,      mods: Control,                         action: IncreaseFontSize }
  #- { key: Minus,          mods: Control,                         action: DecreaseFontSize }
  #- { key: NumpadSubtract, mods: Control,                         action: DecreaseFontSize }

  # (Windows only)
  #- { key: Return,   mods: Alt,           action: ToggleFullscreen }

  # (macOS only)
  - { key: K, mods: Command, mode: ~Vi|~Search, chars: "\x0c" }
  - { key: K, mods: Command, mode: ~Vi|~Search, action: ClearHistory }
  - { key: Key0, mods: Command, action: ResetFontSize }
  - { key: Equals, mods: Command, action: IncreaseFontSize }
  - { key: Plus, mods: Command, action: IncreaseFontSize }
  - { key: NumpadAdd, mods: Command, action: IncreaseFontSize }
  - { key: Minus, mods: Command, action: DecreaseFontSize }
  - { key: NumpadSubtract, mods: Command, action: DecreaseFontSize }
  - { key: V, mods: Command, action: Paste }
  - { key: C, mods: Command, action: Copy }
  - { key: C, mods: Command, mode: Vi|~Search, action: ClearSelection }
  - { key: H, mods: Command, action: Hide }
  - { key: H, mods: Command|Alt, action: HideOtherApplications }
  - { key: M, mods: Command, action: Minimize }
  - { key: Q, mods: Command, action: Quit }
  - { key: W, mods: Command, action: Quit }
  - { key: N, mods: Command, action: SpawnNewInstance }
  - { key: F, mods: Command|Control, action: ToggleFullscreen }
  - { key: F, mods: Command, mode: ~Search, action: SearchForward }
  - { key: B, mods: Command, mode: ~Search, action: SearchBackward }

  # https://github.com/jwilm/alacritty/issues/93#issuecomment-334790547
  - { key: F, mods: Alt, chars: "\x1bf" }
  - { key: B, mods: Alt, chars: "\x1bb" }
  # https://github.com/jwilm/alacritty/issues/93#issuecomment-427592040
  - { key: D, mods: Alt, chars: "\x1bd" }
{{- end }}
