[alias]
	# https://github.com/so-fancy/diff-so-fancy/blob/master/pro-tips.md#raw-patches
	patch = !git --no-pager diff --no-color

	stash-all = stash save --include-untracked

[blame]
	# ignoreRevsFile = .git-blame-ignore-revs  # breaks repositories without this
	markIgnoredLines = true
	markUnblamableLines = true

[commit]
	gpgSign = false

[core]
	# https://stackoverflow.com/a/49862151/684619
	pager = less --quit-if-one-screen --no-init

[delta]
	line-numbers = true
	side-by-side = false

[init]
	defaultBranch = trunk
	templateDir = ~/.config/git/template

[magithub]
	online = false

[magithub "status"]
	includeStatusHeader = false
	includePullRequestsSection = false
	includeIssuesSection = false

[merge]
	conflictstyle = diff3

[pager]
	diff = delta
	log = delta
	reflog = delta
	show = delta

[pull]
	rebase = true

[user]
	name = {{ .full_name }}
	email = {{ .email_address }}

[url "git@github.com:"]
	# can't do this before ssh keys are set up, so breaks chezmoi bootstrap
	# insteadOf = https://github.com/
