[alias]
	dft = difftool

	cleanup = !git branch -vv | grep ': gone]' | awk '{print $1}' | xargs -p git branch -D

	# https://stackoverflow.com/a/31776247/684619
	local-branches = "!git branch --format '%(refname:short) %(upstream:short)' | awk '{if (!$2) print $1;}'"

	# https://github.com/so-fancy/diff-so-fancy/blob/master/pro-tips.md#raw-patches
	patch = !git --no-pager diff --no-color

	stash-all = stash save --include-untracked

[blame]
	# ignoreRevsFile = .git-blame-ignore-revs  # breaks repositories without this
	markIgnoredLines = true
	markUnblamableLines = true

[commit]
	gpgSign = false

[core]
	# https://stackoverflow.com/a/49862151/684619
	pager = less --quit-if-one-screen --no-init --tabs=1,4

[delta]
	line-numbers = true
	side-by-side = false
	tabs = 3

[diff]
	tool = difftastic

[difftool]
	prompt = false

[difftool "difftastic"]
	cmd = difft "$LOCAL" "$REMOTE"

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[init]
	defaultBranch = main
	templateDir = ~/.config/git/template

[magithub]
	online = false

[magithub "status"]
	includeStatusHeader = false
	includePullRequestsSection = false
	includeIssuesSection = false

[merge]
	conflictstyle = diff3

[pager]
	diff = delta
	difftool = true
	log = delta
	reflog = delta
	show = delta

[pull]
	rebase = true

[push]
	autoSetupRemote = true

[url "git@github.com:"]
	# can't do this before ssh keys are set up, so breaks chezmoi bootstrap
	# insteadOf = https://github.com/

[user]
	name = {{ .full_name }}
	email = {{ .email_address }}
