(custom-set-variables
 ;; custom-set-variables was added by Custom.
 ;; If you edit it by hand, you could mess it up, so be careful.
 ;; Your init file should contain only one such instance.
 ;; If there is more than one, they won't work right.
 '(browse-at-remote-remote-type-domains
   '(("bitbucket.org" . "bitbucket")
     ("github.com" . "github")
     ("gitlab.com" . "gitlab")
     ("git.savannah.gnu.org" . "gnu")
     ("gist.github.com" . "gist")
     ("git.sr.ht" . "sourcehut")
     ("pagure.io" . "pagure")
     ("src.fedoraproject.org" . "pagure")))
 '(css-indent-offset 2)
 '(js-indent-level 2)
 '(lsp-file-watch-ignored-directories
   '("[/\\\\]\\.git\\'" "[/\\\\]\\.hg\\'" "[/\\\\]\\.bzr\\'" "[/\\\\]_darcs\\'" "[/\\\\]\\.svn\\'" "[/\\\\]_FOSSIL_\\'" "[/\\\\]\\.idea\\'" "[/\\\\]\\.ensime_cache\\'" "[/\\\\]\\.eunit\\'" "[/\\\\]node_modules" "[/\\\\]\\.fslckout\\'" "[/\\\\]\\.tox\\'" "[/\\\\]dist\\'" "[/\\\\]dist-newstyle\\'" "[/\\\\]\\.stack-work\\'" "[/\\\\]\\.bloop\\'" "[/\\\\]\\.metals\\'" "[/\\\\]target\\'" "[/\\\\]\\.ccls-cache\\'" "[/\\\\]\\.vscode\\'" "[/\\\\]\\.deps\\'" "[/\\\\]build-aux\\'" "[/\\\\]autom4te.cache\\'" "[/\\\\]\\.reference\\'" "[/\\\\]bin/Debug\\'" "[/\\\\]obj\\'" "[/\\\\]\\.scrapy\\'"))
 '(lsp-pyright-venv-path "~/.cache/pypoetry/virtualenvs")
{{- if (eq .chezmoi.os "darwin") }}
 '(ns-right-alternate-modifier 'meta)
{{- end }}
 '(org-agenda-custom-commands
   '(("n" "Agenda and all TODOs"
      ((agenda ""
               ((org-agenda-skip-function
                 '(org-agenda-skip-if-scheduled-later))))
       (alltodo "" nil))
      nil)))
 '(org-agenda-files '("~/org" "~/org/roam"))
 '(org-agenda-prefix-format
   '((agenda . " %i %-12:c%?-12t%-6e% s")
     (todo . " %i %-12:c %-6e")
     (tags . " %i %-12:c")
     (search . " %i %-12:c")))
 '(org-agenda-skip-deadline-prewarning-if-scheduled 'pre-scheduled)
 '(org-agenda-skip-scheduled-if-deadline-is-shown 'not-today)
 '(org-agenda-skip-scheduled-if-done t)
 '(org-agenda-sorting-strategy
   '((agenda habit-down time-up priority-down category-keep)
     (todo priority-down deadline-up category-keep)
     (tags priority-down category-keep)
     (search category-keep)))
 '(org-agenda-todo-ignore-scheduled 'future)
 '(org-agenda-todo-ignore-time-comparison-use-seconds t)
 '(org-columns-default-format "%25ITEM %TODO %3PRIORITY %TAGS %Effort")
 '(org-deadline-warning-days 3)
 '(org-hide-emphasis-markers t)
 '(org-log-done 'time)
 '(org-log-into-drawer t)
 '(org-priority-faces
   '((65 . error)
     (66 . warning)
     (67 . success)
     (68 . success)))
 '(org-priority-lowest 68)
 '(org-roam-directory "~/org/roam")
 '(org-roam-graph-extra-config '(("rankdir" . "LR")))
 '(org-roam-graph-link-hidden-types '("file" "https"))
{{- if (eq .chezmoi.os "darwin") }}
 '(org-roam-graph-viewer "/Applications/Firefox.app/Contents/MacOS/firefox")
{{- end }}
 '(org-scheduled-past-days 4)
 '(typescript-indent-level 2)
{{- if has "todoist" .enabled }}
 '(todoist-backing-buffer "~/org/todoist.org")
{{- end }}
 )
(custom-set-faces
 ;; custom-set-faces was added by Custom.
 ;; If you edit it by hand, you could mess it up, so be careful.
 ;; Your init file should contain only one such instance.
 ;; If there is more than one, they won't work right.
 )

;;; https://emacs.stackexchange.com/a/29838/18070
;;; Entry in `org-agenda-custom-commands':
;;  (org-agenda-skip-function '(org-agenda-skip-if-scheduled-later))
(defun org-agenda-skip-if-scheduled-later ()
"If this function returns nil, the current match should not be skipped.
Otherwise, the function must return a position from where the search
should be continued."
  (ignore-errors
    (let ((subtree-end (save-excursion (org-end-of-subtree t)))
          (scheduled-seconds
           (time-to-seconds
            (org-time-string-to-time
             (org-entry-get nil "SCHEDULED"))))
          (now (time-to-seconds (current-time))))
      (and scheduled-seconds
           (>= scheduled-seconds now)
           subtree-end))))
