## Technique borrowed from:
## https://www.reddit.com/r/zsh/comments/3ubrdr/comment/cxe7ejm/

## Look for other zsh files in XDG_CONFIG_HOME
export XDG_CONFIG_HOME=$HOME/.config
export ZDOTDIR=$XDG_CONFIG_HOME/zsh

## Source additional zshenv (this one is not read by default)
source $ZDOTDIR/.zshenv
