#!/usr/bin/env bash

set -Eeuxo pipefail

# TODO need to confirm this always runs after run_once scripts

doom upgrade
git -C ~/.SpaceVim pull
{{- if has "ruby" .enabled }}
## too much unnecessary stuff for now
# gem update
{{- end }}

{{ if eq .chezmoi.os "darwin" -}}
mas upgrade
brew upgrade --ignore-pinned
# brew autoremove
# brew cleanup  # runs every 30 days anyway
{{- else -}}
flatpak update

yay

fwupdmgr refresh
fwupdmgr update
{{- end }}
