#!/usr/bin/env bash

set -Eeuxo pipefail

{{ if eq .chezmoi.os "darwin" -}}
if ! [ -x "$(command -v brew)" ]
then
    sudo chown "$(whoami)":admin \
        /usr/local/share/zsh \
        /usr/local/share/zsh/site-functions

    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

non_casks=(
  bashdb
  black
{{- if has "cue" .enabled }}
  cue-lang/tap/cue
{{- end }}
  fd
  homebrew/cask-fonts/font-space-mono-nerd-font
  node@16
  pandoc
  plantuml
  prettier
  ripgrep
  shellcheck
)

brew install ${non_casks[*]}

brew link --overwrite node@16
npm install --global yarn
yarn global add bash-language-server
brew install emacs-plus --with-native-comp
{{- else -}}
yay --sync --needed \
    bash-language-server \
    emacs-nativecomp \
    fd \
    nerd-fonts-space-mono \
    ripgrep \
    shellcheck

yay --sync --needed python-jsbeautifier  # for `web` layer
{{- end }}

{{- if has "ruby" .enabled }}
gem install rubocop typeprof
{{- end }}

EMACS_DIR=$HOME/.emacs.d

if [[ ! -d $EMACS_DIR ]]
then
    git clone --depth 1 https://github.com/hlissner/doom-emacs $EMACS_DIR
    $EMACS_DIR/bin/doom install
fi
