{{ if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

set -Eeuxo pipefail

defaults write NSGlobalDomain AppleShowScrollBars -string "Always"
defaults write NSGlobalDomain NSAutomaticCapitalizationEnabled -bool false
defaults write NSGlobalDomain NSAutomaticDashSubstitutionEnabled -bool false
defaults write NSGlobalDomain NSAutomaticPeriodSubstitutionEnabled -bool false
defaults write NSGlobalDomain NSAutomaticQuoteSubstitutionEnabled -bool false
defaults write NSGlobalDomain NSAutomaticSpellingCorrectionEnabled -bool false
defaults write NSGlobalDomain com.apple.swipescrolldirection -bool false

# editing these seems to backfire every time I do it
# # defaults write ZoomChat ZMEnableShowUserName -bool true # did the opposite!
# # defaults write ZoomChat ZoomAccessibilityNotAllowAutoHidden -bool true # did the opposite!
# defaults write ZoomChat ZoomEnableShow49WallViewKey -int 1
# defaults write ZoomChat ZoomEnterFullscreenWhenDualMonitorSetted -bool false
# defaults write ZoomChat ZoomEnterFullscreenWhenViewShare -int 0
# defaults write ZoomChat ZoomEnterMaxWndWhenViewShare -bool false
# defaults write ZoomChat ZoomShouldShowSharingWithSplitView -bool true
# defaults write us.zoom.xos kZMSettingVBHaveGreenScreen -int 0
# defaults write us.zoom.xos kZMUserDefaultMainWindowCompressed -int 0
# defaults write us.zoom.xos kZMUserDefaultMeetingStartWithVideo -int 0

# enable ^+[number] shortcuts to switch to corresponding desktop
for i in {118..125}
do
/usr/libexec/PlistBuddy -c \
    "Set :AppleSymbolicHotKeys:$i:enabled true" \
    ~/Library/Preferences/com.apple.symbolichotkeys.plist
done

sudo launchctl limit maxfiles 2048 unlimited
{{- end }}
