#!/usr/bin/env bash

set -Eeuxo pipefail

# TODO need to confirm this always runs after run_once scripts

{{ if eq .chezmoi.os "darwin" -}}
mas upgrade
brew upgrade --ignore-pinned
{{- else -}}
flatpak update

yay

fwupdmgr refresh
fwupdmgr update
{{- end }}

doom upgrade
git -C ~/.SpaceVim pull
{{- if has "ruby" .enabled }}
gem update
{{- end }}
