[Unit]
Description=Start rescuetime application on login
After=default.target
Requires=default.target
#Wants
#Conflicts

[Service]
Type=simple
Restart=on-failure
ExecStart=/usr/bin/rescuetime
#ExecStop

[Install]
#Alias
#RequiredBy
WantedBy=default.target
#Also
#DefaultInstance
